<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengxin.sync_job.dao.erp.IPurchaseInDao">

    <!--采购入库主表字段-->
    <sql id="PurchaseInParentColumn">
        pur.uniqueId,
        pur.creator_code,
        pur.ware_code,
        pur.corp_code,
        pur.operate_date,
        pur.create_date
    </sql>

    <!--采购入库子表字段-->
    <sql id="PurchaseInChildColumn">
        mater_code,
        PRICE_UNIT_amt,
        Aveprice_unit
    </sql>

    <!--主表映射-->
    <resultMap id="BaseParentResultMap" type="com.chengxin.sync_job.domain.PurchaseInParentEntity">
        <result column="create_date" property="createDate"/>
        <result column="creator_code" property="creatorCode"/>
        <result column="corp_code" property="corpCode"/>
        <result column="corp_name" property="corpName"/>
        <result column="operate_date" property="operateDate"/>
        <result column="provy_code" property="specialCode"/>
        <collection property="purchaseInChilds" column="uniqueId" javaType="ArrayList"
                    ofType="com.chengxin.sync_job.domain.PurchaseInChildEntity"
                    select="com.chengxin.sync_job.dao.erp.IPurchaseInDao.findPurchaseInChildByParentId">
        </collection>
    </resultMap>

    <!--子表映射-->
    <resultMap id="BaseChildResultMap" type="com.chengxin.sync_job.domain.PurchaseInChildEntity">
        <result column="mater_code" property="materCode"/>
        <result column="PRICE_UNIT_amt" property="priceUnitAmt"/>
        <result column="Aveprice_unit" property="avePriceUnit"/>
    </resultMap>

    <!--查询未传输至用友的采购入库数据-->
    <select id="findPurchaseInParentNotTransfer" resultMap="BaseParentResultMap">
        SELECT * FROM (
          SELECT
            <include refid="PurchaseInParentColumn"/>, pro.provy_code,
            ROW_NUMBER() OVER(ORDER BY operate_date DESC) AS RowId
          FROM [dbo].sgRem_InStorageHistory pur
          LEFT JOIN [dbo].sgBasProvInfo pro
          ON pur.special_code = pro.prov_code
          WHERE status != 1 OR status IS NULL AND bill_type = 8
        ) as b
        WHERE RowId BETWEEN 0 AND 1
    </select>

    <!--根据主表id查询字表数据-->
    <select id="findPurchaseInChildByParentId" parameterType="java.lang.String" resultMap="BaseChildResultMap">
        SELECT
          <include refid="PurchaseInChildColumn"/>
        FROM [dbo].sgRem_InStorageHistoryD
        WHERE masterid = #{parentId}
    </select>
</mapper>